h1 {
  font-family: "Montserrat-black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(2, 105, 66);
}

#title {
  background-color: rgb(255, 255, 255);
}

.container-fluid {
  padding: 3% 15%;
}

h3 {
  font-family: "Montserrat-black", sans-serif;
}

.navbar-brand {
  color: black;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  color: black;
}

.food-img {
  height: 350px;
  width: auto;
}

body {
  font-family: "Montserrat-black";
}

.navbar {
  padding: 0 0 3rem;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {
  font-size: 1.2 rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
